* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    background-color: aqua;
    border-radius: .5rem;
    border-color: brown;
    border-width: 0.15rem;
    border-style: solid;
    padding: 1rem;
    margin: 1rem;
}

li:hover {
    background-color: green;
}

.container {
    background-color: yellow;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width:90%;
}

.buttons_container {
    position: absolute;
    bottom: 4rem;
    padding: 1rem;
    border-radius: .5rem;
}

.title {
    position: absolute;
    top: 2rem;
    font-size: 3rem;
    font-weight: bold;
}
