* {
    box-sizing: border-box;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.buttons_container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-top:1rem;
    padding-right: 1rem;
    border-radius: .5rem;
}

.buttons_container button {
    font-size: 18px;
    padding: .5rem .6rem;
    margin: .25rem;
    border-radius: .25rem;
    border-width: 0;
}

.buttons_container #button_add {
    background-color:blanchedalmond;
}

.container {
    padding: 1rem;
    border-radius: .5rem;
    width: 50%;
    max-width:90%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

li {
    background-color:blanchedalmond;
    border-bottom: .15rem solid #ccc;
    border-radius: .5rem;
    padding: 1rem;
    margin: .25rem;
}

li:hover {
    color:darkgray;
}

.title {
    top: 2rem;
    font-size: 3rem;
    font-weight: bold;
}